/vendor
/node_modules

.env
.env.backup

/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs*

/bootstrap/cache/*.php

/public/storage

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
*.log
# Render
.env.render
.env.production

# Local database
*.sqlite
*.sqlite3