/vendor
/node_modules

.env
.env.*
!.env.example

/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs*

/bootstrap/cache/*.php

/public/storage

# Database
*.sql
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Render / produzione
.env.render
.env.production